@import "tailwindcss";

@theme {
  --color-bg: #0F172A;
  --color-card: #1E293B;
  --color-field: #0B1220;
  --color-border: #334155;
  --color-primary: #2563EB;
  --color-primaryHover: #1D4ED8;
  --color-heading: #FFFFFF;
  --color-paragraph: #94A3B8;
}